@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  /* background-color: $body-color; */
  position: relative;
}

html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

a {
  text-decoration: none;
}

/*Bỏ đấu chấm của thẻ li*/
li {
  list-style-type: none;
}

.container1 {
  max-width: 125rem;
  margin: auto;
  padding: 0 0.5rem;
}

.container {
  max-width: 110rem;
  margin: auto;
  padding: 0 0.5rem;
}

.header .header__contact {
  height: 3.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem 6rem 1rem 7.7rem;
  color: white;
  background-color: #1565c0;
}
.header .header__contact .header__contact-left {
  font-weight: 400;
}
.header .header__contact .header__contact-right a {
  color: white;
  font-weight: 400;
}
.header .header__contact .header__contact-right a:not(:last-child) {
  margin-right: 3rem;
}
.header .header__title {
  padding: 1.2rem 6rem 1.2rem 7.7rem;
  color: white !important;
  background-color: #0d59af;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header .header__title .header__title-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.header .header__title .header__title-left h1 {
  font-weight: 500;
  font-size: 2.8rem;
  cursor: pointer;
}
.header .header__title .header__title-left a {
  color: white;
  cursor: pointer;
}
.header .header__title .header__title-left a:not(:last-child) {
  margin-right: 2.2rem;
}
.header .header__title .header__title-right {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.header .header__title .header__title-right span {
  font-weight: 300;
  font-size: 1.5rem;
}

.carousel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url(../img/b1.jpg);
  height: 50rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advert {
  margin: 5rem 0;
}
.advert .ad__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2.7rem;
}
.advert .ad__list .ad__item:first-child {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.advert .ad__list .ad__item:nth-child(2) {
  grid-column: 3/span 2;
  grid-row: 1/span 1;
}
.advert .ad__list .ad__item:nth-child(3) {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  height: auto;
}
.advert .ad__list .ad__item:last-child {
  grid-column: 4/span 1;
  grid-row: 2/span 1;
}
.advert .ad__list .ad__content {
  object-fit: cover;
}
.advert .ad__list .ad__content span {
  color: black;
}
.advert .ad__list .ad__content img {
  width: 100%;
  display: block;
}

.new-products {
  background-color: #f9f8f8;
  padding: 2rem 0 5rem;
}
.new-products header h1 {
  text-align: center;
  color: #0d59af;
  font-weight: 500;
}
.new-products .product__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.new-products .product__list .product__item {
  width: 25%;
  border: 2px solid #ccc;
  overflow: hidden;
}
.new-products .product__list .product__item:not(:first-child) {
  margin-left: 1.5rem;
}
.new-products .product__list .product__img img {
  width: 100%;
  display: block;
}
.new-products .product__list .product__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.new-products .product__list .product__text h2 {
  font-size: 1.8rem;
  color: #0d59af;
  font-weight: 550;
  margin: 3rem 0 2rem;
}
.new-products .product__list .product__text h3 {
  font-weight: 500;
}
.new-products .product__list .product__text .product__text-price {
  margin-top: 2rem;
  font-size: 1.2rem;
}
.new-products .product__list .product__text .product__text-price span:first-child {
  color: #858383;
  text-decoration: line-through #858383;
}
.new-products .product__list .product__text button {
  display: inline-block;
  margin: 1.5rem 0 1rem;
  padding: 0.7rem 1.3rem;
  border: 4px solid #f1a228;
  color: #1565c0;
  transition: all 0.25s linear;
}
.new-products .product__list .product__text button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.discount {
  color: white;
}
.discount .discount__img {
  background-image: url(../img/ban1.jpg);
  height: 50rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: r;
}
.discount .discount__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: -35rem;
  position: relative;
}
.discount .discount__text h2 {
  font-size: 3.8rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}
.discount .discount__text h1 {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
.discount .discount__text h1::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 52%;
  left: 0;
}
.discount .discount-btn button {
  padding: 1rem 1.5rem;
  color: white;
  background-color: #f1a228;
  border: 1px solid transparent;
  cursor: pointer;
}
.discount .discount-btn button:hover {
  opacity: 0.6;
}

.new-arrivals {
  background-color: #fff;
  padding: 2rem 0 5rem;
  margin-top: 9rem;
}
.new-arrivals header h1 {
  text-align: center;
  color: #0d59af;
  font-weight: 500;
}
.new-arrivals .arrival__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.new-arrivals .arrival__list .arrival__item {
  width: 25%;
  border: 2px solid #ccc;
  overflow: hidden;
}
.new-arrivals .arrival__list .arrival__item:not(:first-child) {
  margin-left: 1.5rem;
}
.new-arrivals .arrival__list .arrival__img img {
  width: 100%;
  display: block;
}
.new-arrivals .arrival__list .arrival__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.new-arrivals .arrival__list .arrival__text h2 {
  font-size: 1.8rem;
  color: #0d59af;
  font-weight: 550;
  margin: 3rem 0 2rem;
}
.new-arrivals .arrival__list .arrival__text h3 {
  font-weight: 500;
}
.new-arrivals .arrival__list .arrival__text .arrival__text-price {
  margin-top: 2rem;
  font-size: 1.2rem;
}
.new-arrivals .arrival__list .arrival__text .arrival__text-price span:first-child {
  color: #858383;
  text-decoration: line-through #858383;
}
.new-arrivals .arrival__list .arrival__text button {
  display: inline-block;
  margin: 1.5rem 0 1rem;
  padding: 0.7rem 1.3rem;
  border: 4px solid #f1a228;
  color: #1565c0;
  transition: all 0.25s linear;
}
.new-arrivals .arrival__list .arrival__text button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.trend {
  background-color: #f9f8f8;
  padding: 2rem 0 4rem;
}
.trend header h1 {
  font-weight: 500;
  color: #0d59af;
  text-align: center;
  position: relative;
}
.trend header h1::after {
  content: "";
  width: 35rem;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 70%;
  left: 34%;
  transform: translateY(-70%);
}
.trend .trend__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.trend .trend__list .trend__item {
  width: calc(33.3333333333% - 1.2rem);
  margin-bottom: 1.5rem;
}
.trend .trend__list .trend__item:not(:first-child, :nth-child(4)) {
  margin-left: 1.2rem;
}
.trend .trend__list .trend__item .trend__content {
  position: relative;
}
.trend .trend__list .trend__item .trend__content::before {
  content: "50%";
  font-size: 1.3rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: white;
  background-color: #0d59af;
}
.trend .trend__list .trend__item .trend__content::after {
  content: "Men";
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  position: absolute;
  bottom: 3px;
  left: 0;
  color: white;
  background-color: rgba(21, 101, 192, 0.7);
}
.trend .trend__list .trend__item img {
  width: 100%;
}

.contact {
  background-color: #1565c0;
  padding: 4rem 0;
  color: white;
  height: 23rem;
}
.contact .contact__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}
.contact .contact__list .contact__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 25%;
}
.contact .contact__list .contact__content h2 {
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2.5rem;
}
.contact .contact__list .contact__content a {
  color: white;
  font-size: 1.4rem;
  line-height: 3rem;
}
.contact .contact__list .contact__item:first-child p {
  font-size: 1.4rem;
}
.contact .contact__list .contact__item:nth-child(4) h2 {
  margin-bottom: 2rem;
}
.contact .contact__list .contact__item:nth-child(4) ul {
  margin-left: 1rem;
}
.contact .contact__list .contact__item:nth-child(4) li {
  font-size: 1.4rem;
  line-height: 3rem;
}
.contact .contact__list .contact__item:nth-child(4) i {
  margin-right: 1rem;
}

.footer {
  background-color: #000;
  padding: 2rem 0 2.5rem;
  height: 100%;
}
.footer .footer__content {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

/*# sourceMappingURL=style.css.map */
